a {
    text-decoration: none;
}

nav li {
    list-style: none;
    display: inline;
    padding: 5px;
}


#search {
    width: 50%;
}

footer {
    position: absolute;
    bottom: 0;
}


footer li {
    list-style: none;
    display: inline;
    padding: 5px;
}

#accountModal {
    visibility: hidden;
}